# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]

# ===============================
# Virtual Environment
# ===============================
.venv/
venv/

# ===============================
# Environment variables
# ===============================
.env

# ===============================
# Flask / SQLAlchemy
# ===============================
instance/
*.db

# ===============================
# IDE
# ===============================
.vscode/
.idea/

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db
