{% extends "layouts/base.html" %}
{% block title %}Add Crop{% endblock %}

{% block content %}
<div class="container-fluid col-md-6">

    <h4 class="mb-4">➕ Add New Crop</h4>

    <form method="POST">
        <div class="form-group">
            <label>Crop Name</label>
            <input type="text" name="name"
                   class="form-control" required>
        </div>

        <div class="form-group">
            <label>Description</label>
            <textarea name="description"
                      class="form-control"></textarea>
        </div>

        <button class="btn btn-success">Save</button>
        <a href="{{ url_for('admin.crops') }}"
           class="btn btn-secondary">Cancel</a>
    </form>

</div>
{% endblock %}
